<table class="table table-border">
    <thead>
        <tr>
            <th>Method</th>
            <th>Type</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        <% site.posts.each(function(obj,i){ %>
            <% for(i in obj){ %> 
            <tr>
                <td><%= i %></td>
                <td>
                    <% if((typeof obj[i])==='string' || (typeof obj[i])==='boolean'){ %>
                       <%- obj[i] %>
                    <% }else if((typeof obj[i])==='function'){ %>
                       <pre class="prettyprint"><%= obj[i] %></pre>
                    <% }else{ %>
                       <%= typeof obj[i] %>
                    <% } %>
                </td>
                <td>
                    <a href="javascript:;">check</a>
                </td>
            </tr>
            <% } %>
        <% }) %>
    </tbody>
</table>
